<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<input type="text">
<button (click)="findAll()" >Find All User</button>
<button (click)="findUser()" >Find A User</button>
<ul>
  <li *ngFor='let user of users;'>
      <span [innerHTML]="user.name"></span>
      <span [innerHTML]="user.surname"></span>
      <span [innerHTML]="user.birthDate"></span>
      <span [innerHTML]="user.phone"></span>
      <span [innerHTML]="user.city"></span>
      <span [innerHTML]="user.street"></span>
  </li>
</ul>

